# Fill Short Gaps
LTA_0C_Fill_Short_Gaps.ipynb

In the previous notebook, I made a list of all of the gaps in the dataset, sorted it by size, and then examined the largest gaps in the data. It looks like gaps that are smaller than two days should be fine to fill without having too large of an effect on the analysis.

In [1]:
import hydrofunctions as hf
print("Hydrofunctions version: ", hf.__version__)

import pandas as pd
print("Pandas version: ", pd.__version__)
import numpy as np
print("Numpy version: ", np.__version__)

import matplotlib
import matplotlib.pyplot as plt
print("Matplotlib version: ", matplotlib.__version__)
%matplotlib inline

import analysis_functions
print("Analysis_functions version: ", analysis_functions.__version__)

Hydrofunctions version:  0.2.4
Pandas version:  2.2.3
Numpy version:  1.26.4
Matplotlib version:  3.10.0
Analysis_functions version:  2024.08.02

In [2]:
# Load Data
WBdata = pd.read_parquet('WBdata.parquet')
#WBdata = pd.read_parquet('WBdata-stage.parquet')  
#WBmeta = pd.read_parquet('WBmeta-stage.parquet')

orig = analysis_functions.create_multi(WBdata)
orig.head()

site                      01541200                 01541303                  \
param                        00060      00065         00060      00065
meta                          data flag  data flag     data flag  data flag
datetimeUTC
2012-10-01 04:00:00+00:00    242.0    A  3.59    A    256.0    A  3.25    A
2012-10-01 04:15:00+00:00    246.0    A  3.60    A    256.0    A  3.25    A
2012-10-01 04:30:00+00:00    242.0    A  3.59    A    256.0    A  3.25    A
2012-10-01 04:45:00+00:00    242.0    A  3.59    A    256.0    A  3.25    A
2012-10-01 05:00:00+00:00    242.0    A  3.59    A    256.0    A  3.25    A

site                      01542500                 01545500                  \
param                        00060      00065         00060      00065
meta                          data flag  data flag     data flag  data flag
datetimeUTC
2012-10-01 04:00:00+00:00    652.0    A  1.82    A   1340.0    A  0.84    A
2012-10-01 04:15:00+00:00    652.0    A  1.82    A   1340.0    A  0.84    A
2012-10-01 04:30:00+00:00    652.0    A  1.82    A   1320.0    A  0.82    A
2012-10-01 04:45:00+00:00    646.0    A  1.81    A   1320.0    A  0.82    A
2012-10-01 05:00:00+00:00    646.0    A  1.81    A   1310.0    A  0.81    A

site                      01551500
param                        00060      00065
meta                          data flag  data flag
datetimeUTC
2012-10-01 04:00:00+00:00   2950.0    A  1.35    A
2012-10-01 04:15:00+00:00   2950.0    A  1.35    A
2012-10-01 04:30:00+00:00   2970.0    A  1.36    A
2012-10-01 04:45:00+00:00   2970.0    A  1.36    A
2012-10-01 05:00:00+00:00   2970.0    A  1.36    A

In [3]:
analysis_functions.print_missing(orig)

01541200
  00060:  #nulls (%):    491 ( 0.35%)  flag:'hf.missing' (%):    491 ( 0.35%)  flag:'A': 139861   total:   140352
  00065:  #nulls (%):    265 ( 0.19%)  flag:'hf.missing' (%):    265 ( 0.19%)  flag:'A': 140087   total:   140352
01541303
  00060:  #nulls (%):  14812 (10.55%)  flag:'hf.missing' (%):  14812 (10.55%)  flag:'A': 125540   total:   140352
  00065:  #nulls (%):     41 ( 0.03%)  flag:'hf.missing' (%):     41 ( 0.03%)  flag:'A': 140311   total:   140352
01542500
  00060:  #nulls (%):   4901 ( 3.49%)  flag:'hf.missing' (%):   4901 ( 3.49%)  flag:'A': 135451   total:   140352
  00065:  #nulls (%):      5 ( 0.00%)  flag:'hf.missing' (%):      5 ( 0.00%)  flag:'A': 140347   total:   140352
01545500
  00060:  #nulls (%):  11858 ( 8.45%)  flag:'hf.missing' (%):  11858 ( 8.45%)  flag:'A': 128494   total:   140352
  00065:  #nulls (%):     56 ( 0.04%)  flag:'hf.missing' (%):     56 ( 0.04%)  flag:'A': 140296   total:   140352
01551500
  00060:  #nulls (%):  12430 ( 8.86%)  flag:'hf.missing' (%):  12430 ( 8.86%)  flag:'A': 127922   total:   140352
  00065:  #nulls (%):     50 ( 0.04%)  flag:'hf.missing' (%):     50 ( 0.04%)  flag:'A': 140302   total:   140352

In [4]:
copy = orig.copy()
# Limit the interpolation to two days (192 records); 192 = 2 day * 24 hr/day * 4 records/hr
copy = copy.interpolate(limit=193)

C:\Users\marti\AppData\Local\Temp\ipykernel_22040\1825226561.py:3: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  copy = copy.interpolate(limit=193)

In [5]:
# Note that interpolated values will still have 'hf.missing' flags.
analysis_functions.print_missing(copy)

01541200
  00060:  #nulls (%):      0 ( 0.00%)  flag:'hf.missing' (%):    491 ( 0.35%)  flag:'A': 139861   total:   140352
  00065:  #nulls (%):      0 ( 0.00%)  flag:'hf.missing' (%):    265 ( 0.19%)  flag:'A': 140087   total:   140352
01541303
  00060:  #nulls (%):  11797 ( 8.41%)  flag:'hf.missing' (%):  14812 (10.55%)  flag:'A': 125540   total:   140352
  00065:  #nulls (%):      0 ( 0.00%)  flag:'hf.missing' (%):     41 ( 0.03%)  flag:'A': 140311   total:   140352
01542500
  00060:  #nulls (%):   1816 ( 1.29%)  flag:'hf.missing' (%):   4901 ( 3.49%)  flag:'A': 135451   total:   140352
  00065:  #nulls (%):      0 ( 0.00%)  flag:'hf.missing' (%):      5 ( 0.00%)  flag:'A': 140347   total:   140352
01545500
  00060:  #nulls (%):   9590 ( 6.83%)  flag:'hf.missing' (%):  11858 ( 8.45%)  flag:'A': 128494   total:   140352
  00065:  #nulls (%):      0 ( 0.00%)  flag:'hf.missing' (%):     56 ( 0.04%)  flag:'A': 140296   total:   140352
01551500
  00060:  #nulls (%):   8627 ( 6.15%)  flag:'hf.missing' (%):  12430 ( 8.86%)  flag:'A': 127922   total:   140352
  00065:  #nulls (%):      0 ( 0.00%)  flag:'hf.missing' (%):     50 ( 0.04%)  flag:'A': 140302   total:   140352

In [6]:
# Filling gaps of two days or less means that all of the stage data gets filled.
# ... missing stage data is probably not preventing xcorr from matching.